body {
    background-color: rgb(233, 254, 255);
}
.cocina {
    background-color: lightgrey;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 100px;
    display: flex;
    align-items: center;
    flex-direction:row-reverse;
    justify-content: space-around;
    font-size: 25px;
    padding-top: 20px;
}
.cocina__olla {
    border-radius: 10px;
    background-color: rgb(255, 203, 255);
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-shrink: 3;
    flex-basis: auto;
    align-self: baseline;
}

.cocina__olla--red{
    display: flex;
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 5px;
    flex-shrink: 3;
    flex-basis: auto;
    align-self: center;
}
.cocina__vaso {
    border-radius: 10px;
    background-color: rgb(255, 203, 255);
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-shrink: 3;
    flex-basis: auto;
    align-self: baseline;
}
.cocina__plato{
    border-radius: 10px;
    background-color: rgb(255, 203, 255);
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-basis: content;
    flex-shrink: 2;
    align-self: baseline;
}
.habitacion {
    background-color: rgb(210, 239, 249);
    padding: 10px;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 10px;
    margin: 100px;
    display: flex;
    align-items:baseline;
    flex-direction:column;
    gap: 10px;
    justify-content:center;
}
.habitacion__cama {
    background-color: rgb(174, 241, 174);
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    align-items: end;
    display: flex;
}
.habitacion__lampara{
    background-color: rgb(174, 241, 174);
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    padding-left: spx;
    margin-left: 600px;
}
.habitacion__armario--big {
    font-size: 1.5em;
}
.habitacion__armario--rojo {
    color: red;
    text-align: center;
    font-style: italic;
    
}
.sala {
    background-color: rgb(249, 199, 181);
    padding: 10px;
    border: 2px solid black;
    margin-top: 20px;   
    border-radius: 10px;
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.sala__sofa {
    background-color: rgb(255, 255, 202);
    margin-top: 10px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
    font-style: italic;
    text-align: center;
    font-size: smaller;
    display: flex;
    align-items: baseline;
}
.sala__sofa--verde{
    background-color: rgb(200, 244, 200);
}
.sala__television {
    background-color: rgb(255, 255, 202);
    margin-top: 10px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
    font-style: italic;
    text-align: center;
    font-size: 20px;
}
.sala__mesa {
    background-color: rgb(255, 255, 202);
    margin-top: 10px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
    font-style: italic;
    text-align: center;
    font-size: 35px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    text-align: center;

}